#chat-widget {
    width: 390px;
    max-width: 390px;
}
.chat-widget-header-bar-icons {
    font-size: 14px;
}

#chat-pod-section {
    display: none;
}

#chat-wall {
    max-height: 300px;
    overflow-y: auto;
}