* {
    /*width: 100%;*/
}

html {
    /*overflow-x: hidden;*/
}

body {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 100%;
    /*overflow-x: auto;*/
    /*max-width: 100%;*/
    /*overflow-x: hidden;*/
}

#myPage {
    width: 100%;
    /*overflow-x: hidden;*/
    /*white-space: nowrap;*/
}

#my-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    /*min-width: 640px;*/
}

#header-descriptions button a {
    color: white;
    text-decoration: none;
}

footer {
    /*width: 100%;*/
    /*float: left;*/
    /*clear: both;*/
    /*margin-bottom: -300px;*/
}

.error-msg {
    color: red;
}

.generic-section {
    padding: 30px;
    margin: 100px 20px;
}

.modal-header .close {
    font-size: 20px;
}