#products-main-container {
    background-color: white;
}

.categories-title {

}

.product-categories {
    /*background-color: orangered;*/
    margin-left: 20px;
}

.product-sub-categories {
    /*background-color: greenyellow;*/
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
    padding-right: 30px;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 10px;
    margin-bottom: 30px;

}

.products {
    background-color: rgb(254, 249, 255);
    max-width: 350px;
    margin: 30px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    box-shadow: 0 0 40px rgb(200, 200, 200);
    border-radius: 10px;
}

.product-img {
    width: 100%;
}

.categories-title {
    margin-top: 40px;
    font-size: 22px;
    color: rgb(242, 0, 255);
    border: 1px solid rgb(242, 0, 255);
    width: fit-content;
    border-radius: 5px;
    padding: 5px 20px;
}

.sub-categories-title {
    font-size: 18px;
    color: rgb(255, 178, 0);
    border: 1px solid rgb(255, 178, 0);
    width: fit-content;
    border-radius: 5px;
    padding: 3px 12px;
    margin-top: 40px;
}

.product-name {
    font-size: 16px;
    margin: 0px;
    padding: 10px 25px;
}

.product-description {
    font-size: 14px;
    margin: 0;
    padding: 10px 25px;
}

.product-availability {
    font-size: 13px;
    margin: 0;
    padding: 10px 25px;
}

.product-header {
    background-color: rgb(250, 193, 255);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-footer {
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}